<h1>Thank you for reading</h1>
<div style="width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: var(--radius);
box-sizing: border-box;
color: var(--primary);">
    <p>
        If you like this post and would like to see more in the future, I just created this <b>cool and neat newsletter</b> for my website.
    </p>
    <p>
        Psst... I guarantee it's <b>very infrequent and full of quality articles</b>, just like the article you just read.
    </p>
    <p>
        <a style="padding: 0 14px;
        line-height: 34px;
        margin: 8px 0;
        display: inline-block;
        text-decoration: none;
        border: 1px solid var(--border);
        border-radius: var(--radius);
        background-color: var(--code-bg);
        box-sizing: border-box;
        box-shadow: none;
        color: var(--primary);" target="_blank" rel="noopener" href="http://eepurl.com/iniMlk">Click here to subscribe 💌 </a>
    </p>
</div>
